@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700;800&display=swap');

:root {
    --back-white: #ffffff;
    --back-dark: #222;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

div {box-sizing: border-box;}

body {
    font-family: 'Open Sans', sans-serif;
    width: 100vw;
    height: 100vh;
    background-color: var(--back-dark);
    color: #f1f1f1;
}

.container {
    width: 800px;
    height: 80vh;
    margin: 0 auto;
    justify-content: center;
}

.lefttop {
    left: 10px;
    top: 10px;
}

.DonateButton {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 175px;
    height: 49px;
    display: none;
}

.translatebuttoncss {
    position: absolute;
    top: 10px;  
    left: 10px;
    display: none;
}

a {
    color:white;
}

p {
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 1.5;
}

h3,h4 { 
    margin-bottom: 20px;
    margin-top: 20px;
}

.headerHow {
    margin-bottom: 30px;
}

.developed{
    text-align: center;
    margin-top: 1vh;
    display: none;
}

@media only screen and (max-width: 1150px) {

    .container {
        width: 90vw;
        height: 100vh;
        margin-left: 5vw;
        margin-right: 5vw;
    }
    
    .DonateButton {
        display: none;
        width: 0px;
        height: 0px;
    }

    .licensePlate {
        display: none;
        width: 0px;
        height: 0px;
    }

    .container h2 {
        font-size: 1.25em;
    }

    .developed {
        margin-top: 0vh;
    }

    .headerHow {
        padding-top: 25px;
        font-size: 1.75em;
    }

}

.pos {
    position: absolute;
}

.section {
    padding-bottom: 20px;
}

h6 {
    font-weight: normal;
}

.licensePlate {
    position: absolute;
    right: 0px;
    bottom: 10px;
}
