@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700;800&display=swap');

:root {
    --back-white: #ffffff;
    --back-dark: #222;
    --margin-of-buttons: 15px;
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    user-select: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    width: 100vw;
    height: 100vh;
    background-color: var(--back-dark);
    color: #f1f1f1;
}

textarea:focus, input:focus, button:focus{
    outline: none;
}

.center {
    height: 100vh;
    width: 800px;
    margin: 0 auto;
    display: none;
    align-items: center;
    align-content: center;
} 

.start {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
} 

.pos {
    position: absolute;
}

#inputButton {
    margin-bottom: 10px;
    display: none;
}

.bottomright {
    bottom: var(--margin-of-buttons);
    right: var(--margin-of-buttons);
}

.bottomleft {
    bottom: 10px;
    left: 10px;
    transform: translateY(100%);
}

.bottomleft2 {
    bottom: var(--margin-of-buttons);
    left: var(--margin-of-buttons);
}

.toprigth {
    top: var(--margin-of-buttons);
    right: var(--margin-of-buttons);
}

.topleft {
    top: var(--margin-of-buttons);
    left: var(--margin-of-buttons);
}

.inputButton{
    height: 30px;
    width: 110px;
    display: none;
}

@media only screen and (max-width: 600px) {
    .center {
        width: 95vw;
        margin-top: 75px;
    }

    h3 {
        font-size: 15px;
    }

    .margin {
        font-size: 14px!important;
    }

    #SmallDOGE, #BigDOGE {
        display: none;
    }

    #question {
        font-size: 1em!important;
    }

    .developed {
        display: none;
    }

}


.margin {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.1em;
}

.rightwrongtext {
    right: 50vw;
    left: 50vw;
    top: 10px;
    display: none;
}

.toheadcss {
    margin-top: 0px;
    margin-bottom: 10px;
}

#Sign {
    display: none;
}

#right, #wrong {
    font-size: 1.1em;
    font-weight: bold;
}

#right {
    margin-top: var(--margin-of-buttons);
}

#righttext, #right {
    color:lime;
}

#wrong, #wrongtext {
    color:red;
}

#question {
    font-size: 1.4em;
}

#testQuestion {
    margin-bottom: 15px;
}

.margin-bottom {
    margin-bottom: 15px;
}

.leftfloat {
    float:left;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.15); /* IE */
  -moz-transform: scale(1.15); /* FF */
  -webkit-transform: scale(1.15); /* Safari and Chrome */
  -o-transform: scale(1.15); /* Opera */
  transform: scale(1.15);
  padding: 10px;
}

#next {
    display: none;
}

#previous {
    display: none;
}

.smalldoge {
    position:fixed;
    bottom:0px;
    left:100%;
    -webkit-transition: -webkit-transform 1s ease;
    transition: -webkit-transform 1s ease;
    transition: transform 1s ease;
    transition: transform 1s ease, -webkit-transform 1s ease;
    left: 45px; 
    transform: translateY(100%);
}

.bigdoge {
    position:fixed;
    bottom:0px;
    left:100%;
    -webkit-transition: -webkit-transform 1s ease;
    transition: -webkit-transform 1s ease;
    transition: transform 1s ease;
    transition: transform 1s ease, -webkit-transform 1s ease;
    left: 45px; 
    transform: translateY(100%);
}

#go {
    display: none;
}

.buttonCSS {
    width: 110px;
    height: 40px;
    border: 0;
    appearance: none;
    background-color: #FAFBFC;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 1em;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
    text-align: center;
}

.buttonCSS:hover {
    background-color: #eaeaea;
    text-decoration: none;
    transition-duration: 0.1s;
}

.buttonCSS:disabled {
    background-color: #FAFBFC;
    border-color: rgba(27, 31, 35, 0.15);
    color: #959DA5;
    cursor: default;
}

.buttonCSS:active {
    background-color: #EDEFF2;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
}

.buttonCSS:focus {
    outline: 1px transparent;
}

.buttonCSS:before {
    display: none;
}

.buttonCSS:-webkit-details-marker {
    display: none;
}

.rightwrongWrapper {
    text-align: left;
}

.developed{
    text-align: left;
    position: fixed;
    bottom: var(--margin-of-buttons);
    width: 800px;
}

h6 {
    font-weight: normal;
}
a {
    color:white;
}